/* <!--MAIN  --> */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: end;
  height: 56px;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e9eb;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-right: 24px;
}
.header-bell {
  width: 14px;
  height: 14px;
}
/*--MAIN-CONTENT */
.main-content {
  flex: 1;
  /* height: calc(100vh - 56px); */
}
/* <!--  Header--> */
.content-header {
  display: flex;
  justify-content: space-between;
  padding: 32px 24px 19px 24px;
}
.title {
  height: 24px;
  font-weight: 700;
  font-size: 24px;
  color: #252c32;
}
.category-button {
  width: 166px;
  height: 40px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  color: #f6f8f9;
  border: 1px solid transparent;
  padding: 8px 10px 8px 12px;
  background-color: blue;
}
.category-button:hover {
  cursor: pointer;
  transition: all 0.5s linear;
  background-color: rgb(54, 54, 237);
}
/* <!-- toolbar --> */
.content-toolbar {
  display: flex;
  gap: 8px;
  justify-content: end;
  align-items: center;
  margin-bottom: 13px;
}
.toolbar-select {
  height: 40px;
  width: 259px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  outline: none;
  padding: 0 14px;
  font-weight: 400;
  font-size: 16px;
  color: #101828;
}
.toolbar-search {
  position: relative;
  display: flex;
  align-items: center;
  gap: 33px;
  padding-right: 24px;
}
.toolbar-search input {
  height: 40px;
  width: 254px;
  border-radius: 4px;
  outline: none;
  color: #64748b;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #e7eaee;
  padding: 11px 40px 11px 16px;
}
.search-item {
  position: absolute;
  right: 36px;
  width: 16px;
  height: 16px;
}
/* Table */
.list-category {
  margin-bottom: 24px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}
.thead {
  height: 44px;
  background-color: #eaecf0;
  text-align: left;
}
.thead-item {
  font-weight: 500;
  font-size: 12px;
  color: #667085;
  padding: 13px 24px;
  height: 18px;
}
.thead-icon {
  width: 10px;
  height: 10px;
  padding-left: 4px;
}

.tbody tr {
  height: 72px;
  border-bottom: 1px solid #eaecf0;
}
.tbody tr td {
  padding: 0px 24px;
  font-weight: 500;
  color: #101828;
  border: none;
}
.tbody-icon {
  display: flex;
  align-items: center;
  gap: 4px;
}
.edit-btn,
.delete-btn {
  width: 40px;
  height: 40px;
  text-align: left;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}
.box-status {
  display: flex;
  align-items: center;
  height: 22px;
  padding: 2px 8px;
  border-radius: 16px;
  gap: 6px;
}
/* background */
.bg-active {
  background-color: #ecfdf3;
}
.bg-inactive {
  background-color: #fef2f2;
}
/* dot */
.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
}
.dot-active {
  background-color: #12b76a;
}
.dot-inactive {
  background-color: #ef4444;
}
/* text */
.status-text {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}
.text-active {
  color: #027a48;
}
.text-inactive {
  color: #b91c1c;
}
/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.footer button {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #d8dae5;
  font-weight: 400;
  font-size: 14px;
  color: #051b44;
  background-color: #ffffff;
  margin-bottom: 24px;
  cursor: pointer;
}
/* Overlay */
.product-overlay {
  position: fixed;
  inset: 0;
  background: #00000066;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 900px;
  max-width: calc(100% - 32px);
  max-height: 90vh;
  background: #ffffff;
  border-radius: 8px;
  padding: 24px;
  overflow-y: auto;
}
/* heading */
.product-modal-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.product-modal-title {
  height: 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.product-btn {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
/* 1 */
.product-modal-content {
  display: flex;
  gap: 23px;
  margin-bottom: 24px;
}
.product-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 417px;
  width: 100%;
}
.product-icon {
  color: #fe2525;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.product-input {
  height: 44px;
  width: 100%;
  border: 1px solid #dadada;
  outline: none;
  border-radius: 8px;
  padding: 0 16px;
}
.product-label {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
/*<!-- product-category --> */
.product-category {
  display: flex;
  gap: 23px;
  margin-bottom: 24px;
}
.category-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 417px;
  width: 100%;
}
.select-category {
  border-radius: 8px;
  height: 44px;
  display: flex;
  width: 100%;
  border: 1px solid #d0d5dd;
  padding: 0 16px;
  outline: none;
}
.product-status {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.product-status-content {
  display: flex;
  gap: 14px;
  align-items: center;
}
.status-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.product-price {
  max-width: 851px;
  height: 77px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 24px;
}
.price {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.price-label {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.price-input {
  height: 44px;
  width: 100%;
  padding: 0 16px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  outline: none;
}
/* img */
.product-link {
  display: flex;
  flex-direction: column;
  gap: 9px;
  color: #000000;
}
.link-input {
  height: 44px;
  border-radius: 8px;
  border: 1px solid #dadada;
  color: #000000;
  outline: none;
  padding: 0 16px;
}
/* <!-.product-detail-->  */
.product-detail {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.detail-input {
  height: 92px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  outline: none;
  padding: 0 16px;
}
.detail-label {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  height: 24px;
}
/* border-bottom */
.border-bottom {
  margin-top: 24px;
  border: 1px solid #a1a1aa;
}
.product-button {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  align-items: center;
  margin-top: 24px;
}
.product-delete {
  width: 72px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #e4e4e7;
  cursor: pointer;
}
.product-edit {
  width: 86px;
  height: 44px;
  border-radius: 10px;
  background: #007aff;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.error-border {
  border: 1px solid red;
}
.error-text {
  color: red;
  font-size: 13px;
}
button.activeFooter {
  background-color: blue;
  color: #ffffff;
}
