.register-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 796px;
  margin: 0 auto;
  gap: 24px;
}
.register-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  height: 94px;
  gap: 20px;
}
#form-register {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
}
.register-content {
  flex-direction: column;
  justify-content: center;
  display: flex;
  max-width: 480px;
  width: 100%;
  gap: 24px;
}
.title {
  font-weight: 600;
  font-size: 36px;
  color: #101828;
}
.desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #667085;
}
.register-username {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.register-surname {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  height: 86px;
}
.register-label {
  font-weight: 600;
  font-size: 14px;
  color: #344054;
}
.register-input {
  height: 48px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  outline: none;
  padding: 0 10px;
}
.register-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.register-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.group-input {
  height: 48px;
  outline: none;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  padding: 0 16px;
}
.register-checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
}
.register-checkbox span {
  font-weight: 500;
  font-size: 16px;
  color: #344054;
}
.register-footer a,
.register-checkbox a {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #007aff;
}
.checkbox {
  width: 19px;
  height: 19px;
}
.register-btn {
  height: 48px;
  border-radius: 8px;
  border: 1px solid transparent;
  color: #fff;
  background: #1a0dee;
}
.register-btn:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s linear;
}
.register-footer {
  text-align: center;
}
.register-footer span {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
